<%- include("_header") -%>
<style>
    body {
        font-family: 'Libre Baskerville', serif;
        background-image: url('https://media.giphy.com/media/xT4uQ7GOiPdcdV7ies/giphy.gif');
        background-size: cover;

        height: 100vh;
        padding: 0;
        margin: 0;
    }
</style>
    <div class="my-3">
        <h1>Hello world...</h1>
        <h4>My final project for Subject CIT3518</h4>
    </div>
    <%- include("_footer") -%>